<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <td class="text-justify" width="20%"><%= link_to book.name, book %></td>
        <td class="text-justify" width="15%"><%= link_to book.category.name, book %></td>
        <td class="text-center" width="20%"><%= book.author.name %></td>
        <td class="text-center" width="20%"><%= book.publisher.name %></td>
        <td class="text-center" width="10%"><%= book.amount %></td>
        <% if current_user.admin? %>
          <td class="text-right">
            <%= link_to t(".delete"), admin_book_path(book), method: :delete,
            data: {confirm: t(".confirm")} %>
            | <%= link_to t(".edit"), edit_admin_book_path(book) %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
