<% provide :title, t(".title") %>
<h1><%= t (".update_author") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @author do |f| %>
      <%= render "shared/error_messages", object: @author %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.submit t(".edit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
