<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1><hr>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to new_author_path, class: "btn btn-danger" do %>
    <span class="glyphicon glyphicon-plus">&nbsp;<%= t(".add") %></span>
  <% end %>
<% end %>
<hr>
<div class="input-group search_inline">
  <%= search_form_for  @search, url: authors_path do |f| %>
      <%= f.text_field :name_cont,
        placeholder: t(".search"), class: "form-control search_input" %>
      <%= f.submit t(".button_search"), class: "btn btn-primary btn_search"%>
  <% end %>
</div>
<%= will_paginate %>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-justify active" width="30%"><%= sort_link(@search, :name, t(".name")) %></th>
          <th class="text-justify active" width="30%"><%= sort_link(@search, :description, t(".description")) %></th>
          <% if user_signed_in? && current_user.admin? %>
            <th class="text-right active"><%= t ".action" %></th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
</div>
<ul class="authors">
  <%= render @authors %>
</ul>
<%= will_paginate %>
