  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover">
        <tr>
          <td class="text-justify" width="25%"><%=user.full_name%></td>
         <td class="text-justify" width="15%">
            <%=user.gender%>
          </td>
          <% if user_signed_in? && current_user.admin? %>
            <td class="text-justify" width="24%"><%=user.address%></td>
            <td class="text-justify" width="24%"><%=user.phone_number%></td>
            <td class="text-right">
              <%= link_to t(".delete"), user, method: :delete,
                data: {confirm: t(".confirm")} %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
