<article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
  <div class="thumb-pad2 maxheight1 rectangle"><div class="box_inner">
    <div class="thumbnail">
      <figure><%= image_tag(book.image.url, alt: t(".image"),class: "image-custom") %></figure>
      <div class="caption">
        <h4 class="text-center"><%= book.name %></h4>
        <p class="title"><%=truncate(book.description, length: Settings.book.length_seemore)%><%= link_to t(".see_more"), book_path(book), {remote: true } %>
        </p>
        <p class="num_of_book">pages:<%= book.num_of_pages %></p>
        <p class="authors">Author:<%= link_to book.author.name, author_path(id: book.author_id), {remote: true } %></p>
        <% if logged_in? %>
          <% if book.liked_by? current_user %>
            <% pre_like = book.likes.find { |like| like.user_id == current_user.id} %>
            <%= link_to book_like_path(book, pre_like.id), method: :delete, class: "btn btn-info" do %><i class="glyphicon glyphicon-thumbs-up"></i><%= book.likes.count %>
            <% end %>
          <% else %>
            <%= link_to book_likes_path(book), method: :post, class: "btn btn-default" do %><i class="glyphicon glyphicon-thumbs-up"></i><%= book.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-thumbs-up"></i><%= book.likes.count %>
            <% end %>
        <% end %>
        <!-- comment -->
        <% if logged_in? %>
            <%= link_to book_comments_path(book), remote: true, class: "btn btn-default" do %><i class="glyphicon glyphicon-comment"></i>(<%= book.comments.count %> )
            <% end %>
        <% else %>
          <%= link_to login_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-comment"></i>( <%= book.comments.count %> )
            <% end %>
        <% end %>
      </div>
      <div class="panel-footer text-center">
        <%= form_for borrow_detail, remote: true do |f| %>
          <%= f.hidden_field :number, value: 1 %>
          <%= f.hidden_field :book_id, value: book.id %>
          <% if book.amount.zero? %>
            <%= f.submit t(".empty_book"), class: "btn btn-primary", disabled: true %>
          <% elsif !logged_in? %>
            <%= link_to t(".login_require"), login_path, class: "btn btn-primary" %>
          <% elsif current_user.admin? %>
            <%= f.submit t(".admin_require"), class: "btn btn-primary", disabled: true %>
          <% else %>
            <%= f.submit t(".borrow"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer text-center">
        <%= form_for borrow_detail, remote: true do |f| %>
          <%= f.hidden_field :number, value: Settings.book.number.min_length %>
          <%= f.hidden_field :book_id, value: book.id %>
          <% if book.amount.zero? %>
            <%= f.submit t(".empty_book"), class: "btn btn-primary", disabled: true %>
          <% elsif !logged_in? %>
            <%= link_to t(".login_require"), login_path, class: "btn btn-primary" %>
          <% elsif current_user.admin? %>
            <%= f.submit t(".admin_require"), class: "btn btn-primary", disabled: true %>
          <% else %>
            <%= f.submit t(".borrow"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div></div>
</article>
