<% provide :title, t(".title") %>
<h1><%= t (".update_book") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>
      <%= render "shared/error_book", object: @book %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :number_of_pages %>
      <%= f.text_field :num_of_pages, class: "form-control" %>

      <%= f.label :images %>
      <%= f.file_field :images, accept: "image/png,image/jpeg", class: "form-control" %>

      <%= f.label :amount %>
      <%= f.text_field :amount, class: "form-control" %>

      <%= f.label :authors %>
      <%= f.collection_select :author_id, get_authors(:name),
        :id, :name, include_blank: false %>

      <%= f.label :categories %>
      <%= f.collection_select :category_id, get_categories(:name),
        :id, :name, include_blank: false %>

      <%= f.label :publishers %>
      <%= f.collection_select :publisher_id, get_publishers(:name),
        :id, :name, include_blank: false %>

      <%= f.submit t(".edit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
