<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= book.name %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for borrow_detail, remote: true do |f| %>
      <div class="row">
        <div class="col-xs-4">
          <%= f.number_field :number, value: borrow_detail.number, class: "form-control", min: 1 %>
          <%= f.hidden_field :book_id, value: book.id %>
        </div>
        <div class="col-xs-8 text-right">
          <div class="btn-group">
            <%= f.submit t(".update"), class: "btn btn-primary" %>
            <%= link_to t(".delete"), borrow_detail, { data: { confirm: t(".confirm", name: borrow_detail.book.name) }, method: :delete, remote: true, class: "btn btn-danger" } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
