<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<ul class="users">
  <table class="table table-hover request container-fluid">
    <tr class="active">
      <th><%= t(".borrow_id") %></th>
      <th class="name_user"><%= t(".name") %></th>
      <th><%= t(".from") %></th>
      <th><%= t(".to") %></th>
      <th><%= t(".total_book") %></th>
      <th class="_status"><%= t(".status") %></th>
      <th><%= t(".day") %></th>
      <th class="text-center"><%= t(".action") %></th>
      <th class="text-center note"><%= t(".note") %></th>
    </tr>
      <%= render partial: "borrows/borrow_user", collection: @borrows %>
  </table>
  </table>
</ul>
